/* Genel sayfa ayarları */
body {
    background: #161A30; /* Sayfa arka plan rengi */
}

/* Sayfa üst kısmı ayarları */
.header {
    width: auto; 
    height: auto; 
    background-color: #B6BBC4; 
    border-radius: 20px; 
    padding: 20px; 
    margin: 20px; 
    display: flex; /* İçerikleri yan yana sıralama */
    justify-content: space-between; /* İçerikleri aralarında boşluk bırakarak sıralama */
}

/* Üst kısımdaki logo ayarları */
.header img {
    width: 10%; 
    height: 10%; 
}

.header video{
    margin: 0px;
    padding: 0px;
    width: 100vh;
    height: 150%;
    z-index: -1;
    position: fixed;
    object-fit: cover; /* tamamen kaplaması için */
    object-position: center; /* ortalaması için */
    background-position: absolute; /* sabit olması için */
    opacity: 0.5;

}

/* Üst kısımdaki linklerin ayarları */
.header a {
    color: #B6BBC4; 
    text-decoration: none; /* Alt çizgi kaldırma */
    margin-top: auto;
    margin-bottom: auto; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #31304D; 
    border-radius: 5px; 
    padding: 10px; 
}

/* linklerin üzerine gelince */
.header a:hover {
    color: #161A30; 
    background-color: #B6BBC4; 
}

/* Sayfa alt kısmı ayarları */
.footer {
    bottom: 0;
    background-color: #B6BBC4; 
    border-radius: 5px; 
    padding: 20px; 
    margin-bottom: 2%; 
    margin-top: 30%;
    text-align: center; 
}

/* Alt kısımdaki link ayarları */
.footer a {
    color: #31304D; 
    text-decoration: none; /* Alt çizgi kaldırma */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Yazı tipi */
    font-style: bold; /* Yazı kalınlığı */
}

/* Form alanı ayarları */
.form {
    background-color: #F0ECE5; 
    border-radius: 25px; 
    padding: 20px; 
    margin-left: 25%; 
    margin-right: 25%; 
    margin-bottom: 5%; 
    margin-top: 5%; 
}

/* Form başlığı ayarları */
.form h1 {
    font-family: roboto;
    font-weight: bold; /* Yazı kalınlığı */
    color: #31304D; 
    text-align: center; 
    margin-bottom: 5%; 
}

/* Form paragrafları ayarları */
.form p {
    color: #31304D; 
    text-align: center; 
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 1px; 
    font-family: Open Sans, sans-serif; /* Yazı tipi */
}

/* Form içindeki input alanı ayarları */
.form input {
    font-family: roboto;
    background-color: #B6BBC4; 
    color: #31304D; 
    width: 100%; 
    height: 40px; 
    border-radius: 5px; 
    margin-bottom: 5%; 
    text-align: center; 
}

/* Form içindeki metin alanı ayarları */
.form textarea {
    font-family: roboto;
    background-color: #B6BBC4; 
    color: #31304D; 
    width: 100%; 
    height: 100px; 
    border-radius: 5px; 
    margin-bottom: 5%; 
    text-align: center; 
}

/* Form içindeki seçim alanı ayarları */
.form select {
    font-family: roboto;
    background-color: #161A30; 
    color: #F0ECE5; 
    width: 100%; 
    height: 40px; 
    border-radius: 5px; 
    margin-bottom: 5%; 
    text-align: center; 
    cursor: pointer; /* İmleç tipi */
}

/* Seçim alanına gelince */
.form select:hover {
    background-color: #F0ECE5; 
    color: #161A30; 
    cursor: pointer; /* İmleç tipi */
}

/* Form içindeki buton ayarları */
.form button {
    padding: 5%; 
    background-color: #31304D; 
    color: #B6BBC4; 
    width: 15%; 
    height: 15%; 
    border-radius: 10%; 
    margin-bottom: 5%; 
    margin-left: 42%; 
    margin-right: 50%; 
    text-align: left; /* Yazıyı sola hizala */
}

/* Buton üstüne gelince */
.form button:hover {
    background-color: #B6BBC4; 
    color: #31304D; 
    cursor: pointer; /* İmleç tipi */
}

/* Haber bölümü ayarları */
.Haberler {
    background-color: #F0ECE5; 
    border-radius: 25px; 
    padding: 20px; 
    margin-left: 10%; 
    margin-right: 10%; 
    margin-top: 5%; 
    text-align: center; 
}

/* Haber bölümündeki içeriklerin ayarları */
.Haberler div {
    font-family: roboto;
    font-weight: bold; /* Yazı kalınlığı */
    color: #31304D; 
    display: inline-block;
    padding: 5%; 
}

/* Haber bölümündeki resimlerin ayarları */
.Haberler img {
    border-radius: 5%; 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); /* Gölge ekleme */
}

/* Haber resimlerine gelince */
.Haberler img:hover {
    transform: scale(1.1); /* Büyütme */
    transition: transform 0.3s ease; /* Geçiş efekti süresi ve türü */
    cursor: pointer; /* İmleç tipi */
}

/* Haber İçerik bölümü ayarları */
.HaberIcerik {
    background-color: #F0ECE5; 
    border-radius: 25px; 
    padding: 20px; 
    margin-left: 10%; 
    margin-right: 10%; 
    margin-top: 5%; 
    text-align: center; 
}

/* Haber İçerik bölümündeki metin paragraflarının ayarları */
.HaberIcerik p {
    font-family: roboto;
    text-align: left; /* Yazıyı sola hizala */
}

/* Haber İçerik bölümündeki resimlerin ayarları */
.HaberIcerik img {
    border-radius: 5%; 
    width: 50%; 
    height: 50%; 
}

/* Haber İçerik bölümündeki linklerin ayarları */
.HaberIcerik a {
    color: #31304D; 
    text-decoration: none; /* Alt çizgi kaldırma */
    text-align: left; /* Yazıyı sola hizala */
}

/* Bağlantılara gelince */
.HaberIcerik a:hover {
    color: #161A30; 
    background-color: #B6BBC4; 
}

/* Hakkımızda bölümü ayarları */
.Hakkimizda {
    background-color: #F0ECE5; 
    border-radius: 25px; 
    padding: 20px; 
    margin-left: 10%; 
    margin-right: 10%; 
    margin-top: 5%; 
    text-align: center; 
}

/* Hakkımızda bölümündeki linklerin ayarları */
.Hakkimizda a {
    color: #31304D; 
    font-size: large;
    font-style: bold; /* Yazı kalınlığı */
    text-decoration: none; /* Alt çizgi kaldırma */
    font-style: italic; /* Yazı tipi */
    text-align: left; /* Yazıyı sola hizala */
}

/* GPT Input bölümü ayarları */
.gptInput {
    justify-content: center; /* İçerikleri aralarında boşluk bırakarak sıralama */
    display: flex; /* İçerikleri yan yana sıralama */
    flex-direction: column; /* İçerikleri yatay sıralama */
    align-items: center; /* İçerikleri ortala */
}

/*yazarken*/
.gptInput :focus{ /* GPT Input içindeki InputLevel alanına odaklanıldığında uygulanan stil */
    outline: none; /* Kenar çizgisi kaldırma */
}

.gptInput #inputLevel {
    background-color: transparent; /* Arka plan rengi şeffaf */
    margin-top: 1px;
    margin-left: 2%; 
    margin-right: 10%; 
    display: grid;
    grid-template-columns: 8fr 1fr; /* İçerikleri iki sütuna böler oranları da 8 e 1 */
    justify-items: center; /* İçerikleri ortala */
    align-items: start; /* İçerikleri yukarı hizala */
}

/* GPT Input içindeki input alanının ayarları */
.gptInput #input {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B6BBC4; 
    color: #31304D; 
    width: 90%; 
    height: 40px; 
    border-radius: 5px; 
    margin-bottom: 5%; 
    text-align: center; 
    margin-top: 0px;
}

.gptInput img {
    width: 35%; 
    height: 50%; 
    background-color: transparent; /* Arka plan rengi şeffaf */
    cursor: pointer; /* İmleç tipi el işareti */
    place-self: baseline; /* İçerikleri sola hizala */

}

.gptInput div {
    /* Outputların görüntüleneceği alan */
    font-family: Arial, Helvetica, sans-serif; /* Yazı tipi */
    background-color: #B6BBC4; 
    color: #31304D; 
    width: 90%; 
    height: 40px; 
    border-radius: 5px; 
    margin-top: 10%;
    margin-bottom: 5%; 
}

.gptInput #sonuclar {
    display: none; /* Sonuçların görünürlüğü başlangıçta kapalı */
    width: 35%; 
    max-width: 50%; 
    height: 35%; 
    max-height: 50%; 
    text-overflow: clip; /* Metinlerin taşması durumunda kes */
    background-color: #F0ECE5; 
    border-radius: 5px; 
    text-align: left; 
    align-items: center; /* İçerikleri ortala */
    padding-left: 5px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-right: 10px; 
}
